<div class="row">
    <div class="col s12 m8 offset-m2">
        <!-- if no deals can be found or user in session didn't create yet any deals -->
        {% if not deals %}
            <div class="row">
                <div class="col s12">
                    <div class="card-panel center-align">
                        Sorry, no deals found yet, change that by writing one!
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- show deals if search has results or user in session has created deals -->
        {% if deals %}
            <ul class="collapsible">
                {% for deal in deals %}
                    <li>
                        <div class="collapsible-header grey lighten-4"><i class="fas fa-map-marker-alt teal-text"></i>
                            {{ deal.deal_name }}
                            {% include "partials/btn_action.html" %}
                        </div>
                        <div class="collapsible-body teal lighten-4">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i>  {{ deal.destination_city }}, {{ deal.destination_country }}</li>
                                <li><i class="far fa-calendar-alt"></i>  {{ deal.start_date }} - {{ deal.end_date}}</li>
                                {% if deal.departure_airport %}
                                    <li><i class="fas fa-plane-departure"></i>  {{ deal.departure_airport }}</li>
                                {% endif %}
                                <li><i class="fas fa-coins"></i>  {{ deal.price }}€</li>
                                <li><i class="fas fa-link"></i><a href="{{ deal.booking_link }}" target="_blank">  {{ deal.booking_link }}</a></li>
                                <br>
                                {% if deal.description %}
                                    <li>"{{ deal.description }}"</li>
                                {% endif %}
                                <li>Deal from: {{ deal.created_by }}</li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>