<div class="row">
        <div class="col s12 m8 offset-m2 main-margin">

            {% if not deals %}
                <div class="row">
                    <div class="col s12 white-text text-shadow">
                        <div class="card-panel">
                            You didn't create a deal yet. All deals you create will appear here!
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if deals %}
                <ul class="collapsible">
                    {% for deal in deals %}
                        <li>
                            <div class="collapsible-header"><i class="fas fa-map-marker-alt"></i>
                                {{ deal.deal_name }}
                                {% include "partials/btn-action.html" %}
                            </div>
                            <div class="collapsible-body white">
                                <ul>
                                    <li>Destination country: {{ deal.destination_country }}</li>
                                    <li>Destination city: {{ deal.destination_city }}</li>
                                    <li>Total price: {{ deal.price }}€</li>
                                    <li>Description: {{ deal.description }}</li>
                                    <li>Departure Airport (IATA): {{ deal.departure_airport }}</li>
                                    <li>Travel period: {{ deal.period }}</li>
                                    <li>Booking Link: <a href="{{ deal.booking_link }}" target="_blank">{{ deal.booking_link }}</a></li>
                                    <li>Created by: {{ deal.created_by }}</li>
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>