<footer class="page-footer teal darken-3">
    <div class="footer-copyright teal darken-3 white-text">
        <div class="container">
            <div class="row">
                <div class="col">
                    <b>© 2021 Jacqueline Kraus</b>
                </div>
                <div class="col right">
                    <a class="white-text right" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a class="white-text right" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a class="white-text right" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>