<footer class="page-footer transparent">
    <div class="footer-copyright green lighten-5 green-text">
    <div class="container">
    <div class="row">
    <div class="col">
        <b>© 2021 Jacqueline Kraus</b>
    </div>
    <div class="col right">
    <a class="green-text lighten-2 right" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a class="green-text lighten-2 right" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a class="green-text lighten-2 right" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
    </div>
    </div>
    </div>
    </div>
</footer>