<div class="row">
    <div class="col s12 m12">
        <div class="card-panel">
            <h3>What is TravelCrowd?</h3>
            <p>
                TravelCrowd is a community platform to share the most amazing travel deals!
                You saw flights to Madagascar way cheaper than ususal? You heard about a great travel deal to the hardly affordable Maledives?
                Please share it with the community! We all love to travel and by helping each other out, we can all get our dream vacations ☀️
                It's also allright if you are not a deal hunter, you can also click and read through the deals other members publish.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
            <div class="card-panel">
                <h3>Get started!</h3>
                <span class="white-text">
                    Simply register with a username and password and find / create your next travel deal!
                </span>
            </div>
</div>