{% if session.user %}
    <!-- logged in user -->
    <li><a href="{{ url_for('home_loggedin') }}"><u>Home</u></a></li>
    <li><a href="{{ url_for('get_deals') }}"><u>Deals</u></a></li>
    <li><a href="{{ url_for('profile', username=session['user']) }}"><u>Profile</u></a></li>
    <li><a href="{{ url_for('logout') }}"><u>Logout</u></a></li>
{% else %}
    <!-- logged out user -->
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('login') }}">Login</a></li>
    <li><a href="{{ url_for('registration') }}">Register</a></li>
{% endif %}