.main-margin {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.bg-heroimage {
    background-size: cover;
    background-image: url('/static/images/heroimage.jpg');
    background-repeat: no-repeat;
}

nav {
    box-shadow: none;
    -webkit-box-shadow: none;
}