{% extends "base.html" %}
{% block content %}

    <div class="row main-margin">
        <form class="col s12 m8 offset-m2 white" method="POST" action="{{ url_for('create_deal') }}">
            <h3 class="center-align">Create your Deal</h3><br>
            <!-- deal name -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <textarea id="deal_name" name="deal_name" class="materialize-textarea" maxlength="30" required title="Maximum 30 characters."></textarea>
                    <label for="deal_name"><h5 class="teal-text">Deal name (max. 30 characters)*</h5></label>
                </div>
            </div>
            <!-- destination_country autocomplete input -->
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <input autocomplete="off" type="text" name="destination_country" id="destination_country" class="autocomplete" required>
                            <label for="destination_country"><h5 class="teal-text">Destination country*</h5></label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- destination city -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <textarea id="destination_city" name="destination_city" class="materialize-textarea" required></textarea>
                    <label for="destination_city"><h5 class="teal-text">Destination city*</h5></label>
                </div>
            </div>
            <!-- price -->
            <div class="row">
                <div class="input-field col s12 m3 offset-m2">
                    <input placeholder="price" name="price" id="price" type="number" class="validate" required>
                    <label for="price"><h5 class="teal-text">Price in €*</h5></label>
                </div>
            </div>
            <!-- description -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <textarea id="description" name="description" class="materialize-textarea"></textarea>
                    <label for="description"><h5 class="teal-text">Description</h5></label>
                </div>
            </div>
            <!-- departure airport -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <input id="departure_airport" name="departure_airport" type="text" class="validate" pattern="^[A-Za-z]{3}$" maxlength="3" data-length="3" title="Please use a 3 letters IATA code.">
                    <label for="departure_airport"><h5 class="teal-text">Departure airport (3 letters IATA code)</h5></label>
                </div>
            </div>
            <!-- start date -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <input type="text" id="start_date" name="start_date" class="datepicker" required>
                    <label for="start_date"><h5 class="teal-text">Start Date*</h5></label>
                </div>
            </div>
            <!-- end date -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <input name="end_date" id="end_date" type="text" class="datepicker" required>
                    <label for="end_date"><h5 class="teal-text">End Date*</h5></label>
                </div>
            </div>
            <!-- booking link -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <input value="https://" placeholder="Where can others book this trip?" name="booking_link" id="booking_link" type="url" pattern="https://.*" class="validate" required tite="Format: URL">
                    <label for="booking_link"><h5 class="teal-text">Booking link*</h5></label>
                </div>
            </div>
            <!-- message asterisk-->
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <span class="pink-text">* required fields</span
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-large teal darken-3 waves-effect waves-light text-shadow" type="submit">
                        Create Deal
                    </button>
                </div>
            </div>  
        </form>
    </div>

{% endblock %}