{% extends 'base.html' %}
{% block content %}

    <h2 class="center-align white-text text-shadow main-margin">View all deals</h2>
    <h5 class="center-align white-text text-shadow main-margin">Check out all the travel deals! Have a look which amazing deals the community found!</h5>
    <!-- search element -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="row card-panel-search white">
                <form action="{{ url_for('search') }}" method="POST" class="col s12">
                    <div class="row valign-wrapper center-align">
                        <div class="input-field col s12 m6">
                            <h5>Search for a country or city</h5>
                            <input type="text" name="query" id="query">
                            <label for="query"></label>
                        </div>
                        <div class="col s12 m4">
                            <button type="submit" class="btn green lighten-2 waves-effect waves-light text-shadow">
                                Search<i class="fas fa-search-location right"></i> 
                            </button>
                            <a href="{{ url_for('get_deals') }}" class="btn red lighten-3 waves-effect waves-light text-shadow">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- show deals, if user in session has created deals -->
    {% if session.user %}
        {% include "partials/deals_collapsible.html" %}
    {% endif %}
    {% include "partials/btn_create_deal.html" %}

{% endblock  %}