{% extends "base.html" %}
{% block content %}

    <div class="row main-margin">
        <form class="col s12 m8 offset-m2 white" method="POST" action="{{ url_for('edit_deal', deal_id=deal._id) }}">
            <h3 class="center-align">Here you can update your Deal</h3><br>
            <!-- deal name -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <textarea id="deal_name" name="deal_name" placeholder="Give your deal a catchy name" class="materialize-textarea" required>
                        {{- deal.deal_name -}}
                    </textarea>
                    <label for="deal_name">Deal name</label>
                </div>
            </div>
            <!-- destination_country autocomplete input -->
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <input type="text" value="{{ deal.destination_country }}" name="destination_country" placeholder="Pleaser enter the destination country" id="destination_country" class="autocomplete" required>
                            <label for="destination_country">Destination country</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- destination city -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <textarea id="destination_city" name="destination_city" placeholder="Pleaser enter the destination city" class="materialize-textarea" required>
                        {{- deal.destination_city -}}
                    </textarea>
                    <label for="destination_city">Destination city</label>
                </div>
            </div>
            <!-- price -->
            <div class="row">
                <div class="input-field col s12 m3 offset-m2">
                    <input value="{{ deal.price }}" placeholder="price" name="price" id="price" type="number" class="validate" required>
                    <label for="price">Price in €</label>
                </div>
            </div>
            <!-- description -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <textarea id="description" name="description" placeholder="What is this deal about? Any additional info?" class="materialize-textarea" required>
                        {{- deal.description -}}
                    </textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <!-- departure airport -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <input value="{{ deal.departure_airport }}" id="departure_airport" name="departure_airport" placeholder="Where does this deal depart from?" type="text" class="validate" pattern="[A-Za-z]{3}" data-length="3" required>
                    <label for="departure_airport">departure airport (IATA)</label>
                </div>
            </div>
            <!-- start date -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <input value="{{ deal.start_date }}" type="text" id="start_date" name="start_date" placeholder="Please select the start date of your trip" class="datepicker" required>
                    <label for="start_date">Start Date</label>
                </div>
            </div>
            <!-- end date -->
            <div class="row">
                <div class="input-field col s12 m5 offset-m2">
                    <input value="{{ deal.end_date }}" placeholder="Please select the end date of your trip" name="end_date" id="end_date" type="text" class="datepicker" required>
                    <label for="end_date">End Date</label>
                </div>
            </div>
            <!-- booking link -->
            <div class="row">
                <div class="input-field col s12 m5 offset-m2">
                    <input value="{{ deal.booking_link }}" name="booking_link" id="booking_link" type="url" pattern="https://.*" class="validate" required>
                    <label for="booking_link">Booking link</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-large green lighten-2 waves-effect waves-light text-shadow" type="submit">
                        Update
                    </button>
                    <a href="{{ url_for("get_deals") }}" class="btn-large red lighten-3 waves-effect waves-light text-shadow">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}