{% extends 'base.html' %}
{% block content %}

<div class="row">
    <form class="col s8 m6 offset-m3 offset-s2 main-margin grey lighten-3">
        <!-- username input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-circle prefix"></i>
                <input id="username" name="username" type="text" class="validate" required>
                <label for="username">Username</label>
            </div>
        </div>
        <!-- password input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-lock prefix"></i>
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
        <!-- button to submit login -->
        <div class="row">
            <button type="submit" class="col s10 m6 btn-large offset-m3 offset-s1">
                Login
            </button>
        </div>
        <br>
        <br>
        <!-- if user doesn't have an account yet, option to register -->
        <div class="row">
            <div class="col s12 center-align">
                <span>Need an account?</span>
            </div>
        </div>
        <div class="row">
            <a href="{{ url_for('registration') }}" class="col s6 m2 btn offset-m5 offset-s3">Register here</a>
        </div>
    </form>
  </div>

{% endblock %}