{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h2 class="center-align">Hello {{ user.username }}!</h2>
            <h5 class="center-align">Here you will see all deals that you created, you can update your deals or delete them, when they are outdated!</h5>
            <!-- deals a user in session created -->
            {% include "partials/deals_collapsible.html" %}
            <!-- button to create a new deal-->
            {% include "partials/btn_create_deal.html" %}
        </div>
    </div>
</div>
    
{% endblock  %}