{% extends 'base.html' %}
{% block content %}

    <h2 class="center-align white-text text-shadow main-margin">Hello {{ user.username }}!</h2>
    <h5 class="center-align white-text text-shadow">Here you will see all deals that you created, you can update your deals or delete them, when they are outdated!</h5>
    <!-- deals a user in session created -->
    {% include "partials/deals_collapsible.html" %}
    <!-- button to create a new deal-->
    {% include "partials/btn_create_deal.html" %}
    
{% endblock  %}